{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'todos/css/todos.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-white">
                    <div class="card-body">

                        <form action="{% url 'todos:create' %}" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control add-task" placeholder="New Task..." name="name">
                            <br>
                            <br>
                            <input type="text" class="form-control add-task" placeholder="Desctiption ..." name="description">
                            <br>
                            <br>
                            <input type="submit" value="create todo" name="create_todo">

                        </form>
            <br>
            <br>
            <br>
                    {% if todos %}
                            <div class="todo-list">
                                {% for todo in todos %}
                                    <div class="todo-item">
                                        <span>{{ todo.name}}</span>
                                        <a href="{% url 'todos:detail' todo_id=todo.id %}">ditail</a>
                                        <a href="{% url 'todos:done' todo_id=todo.id %}">done</a>
                                    </div>
                                {% endfor %}
                            </div>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="{% static 'todos/js/todos.js' %}"></script>
    
    
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>

    <a href="{% url 'dashboard:index' %}">dashboard</a>


</body>
</html>